[2015-09-02 09:26] andyshuxin opened #1 "Feedback on the first prototype"
@hupili -

Just a collection of ad hoc feature requests and thoughts. We can have discussions down the thread and redirect actionable items to other issues to followup.

- [x] Slug: I prefer to add: 1) a prefix to not clutter with other parts of the site (non-blog ones); 2) date string before keyword string for quick sorting.
- [x] Needs to test special pages: i.e. those self-contained pack of HTM

[2015-09-02 09:33] andyshuxin commented on #1
## A. High Priority (Would rather delay launching for them)
- [ ] Slug:
    - [ ] Determine a prefix
    - [ ] add date string before keyword string for quick sorting
- [ ] Add newsletter subscription entry-point
- [ ] Set the root entry to initiumlab.com, and put the blog under /blog/
- [ ] Generate RSS/ Atom feeds for all content

## B. Intermediate Priority (Maybe next week)

- [ ] Basic adapta

[2015-09-03 13:40] hupili opened #2 "A solution to host images"
Link: http://home.initiumlab.com/blog/20150901-data-journalism-for-the-blind/

Image:

<img width="750" alt="screen shot 2015-09-03 at 9 37 56 pm" src="https://cloud.githubusercontent.com/assets/1227160/9659644/1a74552c-5284-11e5-9335-563a6d159aa9.png">

We need a solution for image hosting:

1. Use 3rd party image hosting services
2. Check in the images into repo

If the 2nd is used, we need to d

[2015-09-03 13:54] hupili opened #3 "Meta information of posts"
Some information is needed in the YAML header; and also to be rendered in the page HTML

1. Author name

e.g. CODE4HK blog:
https://github.com/code4hk/blog/blob/gh-pages/_posts/2014-02-23-blog-is-up.md

This can be compiled to special HTML tags so we do not have to write author name in the body.

2. Author image?

Seems the current template supports author image, but we have not included one. Let

[2015-09-03 14:07] hupili opened #4 "Test post element"
Test the correct compiling and styling of post element. I can think of following: (in order of priority)

* [x] Basic markdown elements: body, ul, ol, strong, emph, inline url, ref url, quote, inline code, code block.
* [x] Code block syntax highlighting (even better to be language specific)
* [x] MathJax
* [ ] Extended markdown elements: table, strike-through, etc. (We have to stick to one MD eng

[2015-09-08 09:35] hupili opened #5 "Automatically embed special pages into a framework or inject template code"
For example, the whole site want to share the same tracking code. The tracking code had better be maintained in the framework, site-wise. We need to inject the tracking code into the special pages.

[2015-09-10 05:11] andyshuxin commented on #5
It is implemented by added the desired code into
[code]
Note: Swig is a template language generating HTML.

[2015-09-13 16:16] hupili opened #6 "The credits of our website"
1. the following block needs to be moved from template to about page:

<img width="294" alt="screen shot 2015-09-14 at 12 03 08 am" src="https://cloud.githubusercontent.com/assets/1227160/9837557/8745dba0-5a75-11e5-8500-90df11208a63.png">

2. on the about page, credit to visual design (Victoria) and frontend implementation (Andy)

3. on the about page, credit to the open source projects used here

[2015-09-13 16:17] hupili opened #7 "The content of about page"

[2015-09-14 09:28] andyshuxin commented on #7
Added a draft:
<http://home.initiumlab.com/about/>

[2015-09-14 09:29] andyshuxin commented on #6
@hupili Added credits on the about page.
<http://home.initiumlab.com/about/>

[2015-09-14 09:45] hupili commented on #7
Looks cool. We can keep on polishing.

[2015-09-14 09:45] #7 closed

[2015-09-14 09:58] hupili commented on #6
Added GH contributors link to the about page. 746d71aecd7ef0e5a28014d236169636ffb91c57

Should be OK. Let's continuously revise.

Related issue #7

[2015-09-14 09:58] #6 closed

[2015-09-15 07:26] hupili opened #8 "Add humans.txt"

[2015-09-15 07:42] andyshuxin opened #9 "Add RSS feed on homepage"

[2015-09-15 07:46] hupili opened #10 "Add alt to the images on our site"
Need to:

* Scan all the pages #20
* Add this to workflow #26

[2015-09-15 07:46] andyshuxin opened #11 "ALT to all images"

[2015-09-15 07:47] andyshuxin commented on #11
duplicate with https://github.com/initiumlab/initiumlab.com/issues/10

[2015-09-15 07:49] andyshuxin opened #12 "Adjust sidebars - remove animations"
@yyfjmb @andyshuxin

[2015-09-15 07:51] andyshuxin opened #13 "Wording on http://home.initiumlab.com/blog/20150901-data-journalism-for-the-blind/"
又
沒有替代說明

Alt

Spacing around English characters

[2015-09-15 07:54] frankinit commented on #13
「絃樂」應為「弦樂」？

[2015-09-15 07:57] frankinit opened #14 "Adjust Hyperlink Format"
add a underline for hyperlink?

[2015-09-15 07:58] andyshuxin opened #15 "Add anchors to note1 note2 on the first article"
http://home.initiumlab.com/blog/20150901-data-journalism-for-the-blind/

[2015-09-15 08:41] andyshuxin commented on #12
@yyfjmb What do you think we should do?

[2015-09-15 09:07] andyshuxin commented on #8
Done: http://home.initiumlab.com/humans.txt

[2015-09-15 09:12] andyshuxin commented on #9
@yyfjmb The link is <http://home.initiumlab.com/blog/feed> at this moment, which would change to <initiumlab.com/blog/feed>.
You can use '/blog/feed/' as href.

[2015-09-15 09:12] #8 closed

[2015-09-15 09:14] andyshuxin commented on #5
The Google tracking is now added natively by the hexo engine, we don't even need to add the code manually.
For other customised JavaScript, we can use the method I mention above.

The homepage (index.html) bypasses render engines and therefore should be adjusted separately.

[2015-09-15 09:15] #5 closed

[2015-09-15 09:18] andyshuxin commented on #3
The side-bar has been re-designed and we no longer show author image.

[2015-09-15 09:24] andyshuxin opened #16 "Adjust date-time position so that they don't get push off the screen under certain resolutions"

[2015-09-15 09:26] andyshuxin commented on #2
We are current going with solution 2, putting images under the folder of the same name as the Markdown file.
For example, the images for **20150903-data-journalism-for-the-blind.md** is stored under "20150903-data-journalism-for-the-blind" directory.

This folder can be created automatically by hexo if one create a new entry with
[code]

[2015-09-15 09:29] andyshuxin opened #17 "Switch to high-res logo"

[2015-09-15 09:30] #15 closed

[2015-09-15 09:30] andyshuxin commented on #15
Done.

[2015-09-15 09:37] andyshuxin commented on #13
@frankinit 管**絃**，弓**弦**，不是一個字，近代歸於弦。是否立爲內部規範，可以討論。
參見：<http://www.fhk.ndu.edu.tw/mediafile/833/fdownload/489/828/2014-4-24-10-0-7-828-nf1.pdf>

[2015-09-15 09:42] #11 closed

[2015-09-15 09:48] andyshuxin opened #18 "Add ARIA tags for better a11y"
<http://www.w3.org/WAI/intro/aria>

[2015-09-15 09:53] andyshuxin commented on #10
@hupili I manually scan the homepage and "Data Journalism for the Blind" article and added alts for every image.

[2015-09-15 09:58] andyshuxin opened #19 "Update About Page with technology used"
@yyfjmb Please update the about page (at source/about/index.md)  <http://home.initiumlab.com/about/> with technologies you used for the website, such as css libraries, if any.
You can put the information under *Credits* section.

[2015-09-15 10:00] andyshuxin opened #20 "Automate alt attribute checking for images"
@hupili Can't find any existing solutions. Any ideas?
This continues discussion from https://github.com/initiumlab/initiumlab.com/issues/10

[2015-09-15 10:10] andyshuxin opened #21 "implement lightbox for showcases"

[2015-09-15 11:12] andyshuxin opened #22 "How well does screen reader work with lightboxes?"
@hupili @yyfjmb

[2015-09-15 13:23] andyshuxin opened #23 "In tag view, the header will cover the main content"
@yyfjmb

![screen shot 2015-09-15 at 9 21 59 pm](https://cloud.githubusercontent.com/assets/233354/9877513/e8fd66c6-5bef-11e5-8b35-25d65039027c.png)

[2015-09-15 13:25] andyshuxin opened #24 "Tag view: date and title overlap with each other"
<!http://home.initiumlab.com/tags/Accessibility/>
![screen shot 2015-09-16 at 11 37 41 am](https://cloud.githubusercontent.com/assets/233354/9895881/662450b6-5c67-11e5-93b8-d895a3f91751.png)

[2015-09-16 03:12] andyshuxin commented on #21
Done.

[2015-09-16 03:12] #21 closed

[2015-09-16 03:13] andyshuxin commented on #12
Animation removed. @yyfjmb can advise.

[2015-09-16 03:13] #12 closed

[2015-09-16 03:14] andyshuxin commented on #13
Close the issue as the obvious flaws have been removed.
We can continue to discuss orthographical decisions.

[2015-09-16 03:14] #13 closed

[2015-09-16 03:15] andyshuxin opened #25 "Add responsiveness for index.html on mobile devices"

[2015-09-16 03:20] andyshuxin commented on #16
@yyfjmb You seem to solve this issue. You can close it.

[2015-09-16 03:20] hupili commented on #10
Memo: we need to document a online checklist for each articles; "Scan alt images" will be one item of the checklist.

[2015-09-16 03:21] hupili commented on #20
Maybe just use jQuery to easily select all the `img` and scan?

[2015-09-16 03:22] hupili opened #26 "Article publish checklist"
Something in my thoughts:

* Check image alt
* Check consistency of traditional and simplified Chinese
* Markdown convention, e.g. `h1` for article title, `h2, h3, ...` for section header, Use fenced code block ( [gfm](https://help.github.com/articles/github-flavored-markdown/) style), ...

[2015-09-16 03:22] hupili commented on #10
Checklist discussion: #26

[2015-09-16 03:24] andyshuxin commented on #10
@hupili Shall we close this issue and discuss the topic on the "checklist" issue and the "automatic checking" issue?

[2015-09-16 03:25] andyshuxin commented on #19
@yyfjmb You seem to be working on this. If you're done, you can @me here.

[2015-09-16 03:25] hupili commented on #22
Part of UX test.

@Kateliuxue can add to handbook.

[2015-09-16 03:33] hupili commented on #2
Solution 2 should be enough for now. The use of abs path in [post source code](https://raw.githubusercontent.com/initiumlab/initiumlab.com/master/source/_posts/20150903-data-journalism-for-the-blind.md) may cause some inconvenience during migration. This should be low priority now.

[2015-09-16 03:34] hupili commented on #10
Yes. Updated redirect pointers into the main post.

[2015-09-16 03:34] #10 closed

[2015-09-16 03:35] andyshuxin opened #27 "On a specific version of Firefox, the image is off"
It appears on Firefox 40.0.3, OSX 10.10, iMac 27 inch.
However, the bug does not appear on Firefox Developer Edition 42.0a2, same system.
Could be a isolated problem.
<http://home.initiumlab.com/blog/20150901-data-journalism-for-the-blind/>

![screen shot 2015-09-16 at 11 32 16 am](https://cloud.githubusercontent.com/assets/233354/9895861/07f75cea-5c67-11e5-92af-1e8cba94026a.png)

[2015-09-16 03:41] yyfjmb commented on #16
solved

[2015-09-16 03:41] yyfjmb commented on #16
@andyshuxin yes, solved

[2015-09-16 03:41] #16 closed

[2015-09-16 03:44] yyfjmb commented on #17
@andyshuxin solved

[2015-09-16 03:44] #17 closed

[2015-09-16 03:59] andyshuxin commented on #23
duplicate: https://github.com/initiumlab/initiumlab.com/issues/24

[2015-09-16 04:00] andyshuxin commented on #24
This is closed for being a duplicate issue to https://github.com/initiumlab/initiumlab.com/issues/24.

[2015-09-16 04:00] #24 closed

[2015-09-16 04:03] andyshuxin opened #28 "Pre-launch checklist - absolutely necessary"
@hupili @frankinit @Kateliuxue
Please check and add items.
- Homepage
  - [ ] URL is right: initiumlab.com
  - [ ] webpage tab title is correct: Initium Lab
  - [ ] Text is displayed correctly
  - [ ] No obvious spelling and grammatical mistakes
  - [ ] Images are displayed correctly
  - [ ] Email subscription works
  - [ ] All links are clickable and point to expected destinations

- About page

[2015-09-16 04:25] andyshuxin opened #29 "Add favicon to the website"
@hupili @andyshuxin @yyfjmb

[2015-09-16 04:30] andyshuxin opened #30 "Tags on the sidebar have the wrong link href"

[2015-09-16 04:33] andyshuxin opened #31 "The most update English version of Legco video"
I'm update the blog with our English version. I wonder which one is the most updated one?
@yyfjmb

[2015-09-16 05:07] frankinit commented on #28
Noted with thanks.

[2015-09-16 05:14] Kateliuxue commented on #28
OK, thanks.

On Wed, Sep 16, 2015 at 1:07 PM, frankinit <notifications@github.com> wrote:

[2015-09-16 05:26] andyshuxin opened #32 "switch domain to initiumlab.com"

[2015-09-16 07:01] andyshuxin commented on #30
fixed.

[2015-09-16 07:01] #30 closed

[2015-09-16 07:43] yyfjmb commented on #27
fixed the problem. but find another firefox problem. can't load youtube flash.
![image](https://cloud.githubusercontent.com/assets/7417451/9899028/9c809314-5c89-11e5-8c59-c2d81a24c701.png)

[2015-09-16 08:04] andyshuxin commented on #27
@yyfjmb Please pose an issue and @me. Also please list your browser version, OS versions, etc.

[2015-09-16 08:10] yyfjmb commented on #23
fixed

[2015-09-16 08:13] #23 closed

[2015-09-16 08:49] yyfjmb commented on #9
added @andyshuxin

[2015-09-16 08:50] yyfjmb commented on #9
need further confirm the button position @andyshuxin

[2015-09-16 09:09] yyfjmb commented on #31
https://drive.google.com/drive/folders/0B1MrW3GSG7L7cjRyXzhHZ0hEaGM
this is the most updated one

[2015-09-16 09:14] #31 closed

[2015-09-16 09:19] yyfjmb commented on #19
I didn't really use any css libraries. I wanted to use hover.css at first, end up with self-reliance.

[2015-09-16 09:21] yyfjmb commented on #19
If new technologies are used, I'll add them there. @andyshuxin

[2015-09-16 09:21] #19 closed

[2015-09-16 09:35] yyfjmb opened #33 "On firefox browser, youtube video is down"
It appears on Firefox 40.0.3, OSX 10.10.5. Instead of loading youtube video, the browser ask you to download a file.

![image](https://cloud.githubusercontent.com/assets/7417451/9901275/18434050-5c99-11e5-93b7-2aacd4b53e19.png)

[2015-09-16 09:37] #27 closed

[2015-09-16 10:50] yyfjmb commented on #14
fixed

[2015-09-16 10:50] #14 closed

[2015-09-16 11:27] andyshuxin commented on #9
@yyfjmb On homepage, let's try putting in footer; otherwise, we can put it on sidebar.

[2015-09-16 13:28] andyshuxin commented on #32
Done. This repo is published on initiumlab.com . The old site is moved to: http://oldhome.initiumlab.com/

[2015-09-16 13:28] #32 closed

[2015-09-16 15:33] andyshuxin opened #34 "Style one markdown specifically"
"About" page needs special styling. Now, it's implemented with inline <div class='something>, which hackish.

[2015-09-16 15:39] andyshuxin commented on #25
Basic adaptation is added.

[2015-09-16 15:39] #25 closed

[2015-09-16 15:39] #9 closed

[2015-09-16 15:40] andyshuxin opened #35 "Remove jquery reference, which is not used anymore"
@yyfjmb

[2015-09-16 15:41] #35 closed

[2015-09-17 02:53] andyshuxin opened #36 "On iPhone, RSS Feed button opens podcast"

[2015-09-17 03:04] hupili opened #37 "Not responsive on small size desktop browsers"
Chrome, width 400px, attached:

<img width="512" alt="screen shot 2015-09-17 at 11 01 20 am" src="https://cloud.githubusercontent.com/assets/1227160/9923809/d191b3c4-5d2b-11e5-928b-ec3280947190.png">

[2015-09-17 03:16] andyshuxin commented on #36
@hupili @frankinit @Kateliuxue Switched to feedburner, which seems to work. Can you verify?
However, we might need a solution more proper for the long turn.

[2015-09-17 03:20] frankinit commented on #36
good on my iPhone iOS 8

[2015-09-17 03:35] hupili commented on #34
Reference discussions:
https://github.com/initiumlab/initiumlab.com/commit/c7e7d576b6e2f88b83394f1a42b9b075baca522b#commitcomment-13265582

[2015-09-17 03:42] frankinit commented on #36
New problem: cannot access feedburner from Mainland China.

[2015-09-17 03:46] frankinit opened #38 "Side Bar Blocking Content"
<img width="1030" alt="screenshot 2015-09-17 at 11 44 47" src="https://cloud.githubusercontent.com/assets/13608119/9924396/a537abfc-5d31-11e5-8e61-ed265c2523d3.png">

http://initiumlab.com/blog/20150901-data-journalism-for-the-blind/

OS X 10.10.5 , Chrome 45, Macbook Pro Retina.

[2015-09-17 03:57] andyshuxin commented on #33
@yyfjmb How about now?

[2015-09-17 04:05] Kateliuxue opened #39 "Failure showing up of corresponding subtitle when click in sidebar"
![default](https://cloud.githubusercontent.com/assets/14042060/9924673/45e5c85c-5d34-11e5-898a-507aba05c918.jpg)

[2015-09-17 04:11] andyshuxin commented on #36
@hupili @frankinit @Kateliuxue I've switched back to the native feed, rather than feedburner. We can deal with this later.

[2015-09-17 04:15] frankinit opened #40 "Top Button Unable to Tap on iPhone"
This button is unable to tap. http://initiumlab.com/images/topButton.png

iPhone 6, iOS 8.4, Safari.

[2015-09-17 04:24] frankinit opened #41 "Style Discussion: Need a Space after Colon?"
<img width="85" alt="screenshot 2015-09-17 at 12 22 54" src="https://cloud.githubusercontent.com/assets/13608119/9924909/df15d114-5d36-11e5-9387-62d011f2e4f1.png">

Need a space after colon?

[2015-09-17 04:33] frankinit opened #42 "Subscribe Button Not Aligned with Text Field"
![screenshot 2015-09-17 at 12 30 55](https://cloud.githubusercontent.com/assets/13608119/9925003/1f167f88-5d38-11e5-9201-9016bce2a376.png)

Zoom in:
![screenshot 2015-09-17 at 12 34 32](https://cloud.githubusercontent.com/assets/13608119/9925028/7ea33fea-5d38-11e5-8cbe-a78c7d9ab99e.png)

Height difference.

Chrome 45, OS X 10.10.5.

[2015-09-17 04:44] Kateliuxue commented on #39
After checking with Frank, it should be a problem of  wrong alignment.

[2015-09-17 05:05] Kateliuxue opened #43 "Revamp the article 《可視化火了 盲人怎麼辦》"
1. 「笑聲」應為「小聲」
2. 聲音操縱變量中「長度」是否沒有解釋清楚？
3. 「我們不關注盲人，盲人可是會看我們」這句話有兩個用戶表示沒看懂
4. 「如果我們相信新聞機構不只是牟利的商業公司，而是承擔了社會責任，」的什麼？是否有語法問題？
5. 「而 非盲人」還是「而非 盲人」？容易斷錯句
6. 引用的標註格式是否要規範？

[2015-09-17 05:15] frankinit opened #44 "Video Width Not Responsive Causing Different Behaviour on iOS 9 and iOS 8"
The Youtube video module is not responsive, causing different behaviour on iOS 9 and iOS 8, both need to improve.

### iOS 9, Safari, auto adjusted for video width, but text too small:

<img src="https://cloud.githubusercontent.com/assets/13608119/9925399/a102c524-5d3d-11e5-9e9d-1f9666df576b.PNG" height="600">
<br><br><br><br>

### iOS 8, Safari, auto adjusted for text, but video not fully shown:

[2015-09-17 05:33] hupili commented on #20
A quick one-liner using two Python utility:

* [httpie](https://github.com/jkbrzt/httpie) to retrieve the webpage
* [pquery](https://github.com/hupili/pquery) to easy "grep" out HTML tags/ attributes/ text

Sample 1:

[code]

Sample 2:

[code]

Sample 3:

<img width="998" alt="screen shot 2015-09-17 at 1 31 46 pm" src="https://cloud.githubusercontent.com/assets/1227160/9925652/7abcf6f2-5d40-11e5-9

[2015-09-17 05:34] andyshuxin commented on #39
I think I fixed this with commit https://github.com/initiumlab/hexo-theme-next/commit/f720c89938473167a1005fba286b99ddcc286563

Can you confirm?

[2015-09-17 05:38] yyfjmb commented on #38
I've tried to narrow the width of side-bar, then there's not enough space to show all content in the side bar. Maybe that's the reason why the sidebar is originally designed to push the content to the left.

[2015-09-17 05:42] frankinit commented on #39
Better now. But clicking the last subtitle on sidebar "5. 展望：數據新聞無障礙" still cannot lead to exact right place.

And, when zoom out to 90% or smaller, clicking the last subtitle does not change its color to blue.

Further more, when zoom out to 67% or smaller, same thing happens on the second last subtitle "4. 數據可觸化“.

[2015-09-17 05:47] yyfjmb commented on #42
fixed @frankinit

[2015-09-17 05:47] #42 closed

[2015-09-17 05:48] yyfjmb commented on #33
fixed @andyshuxin

[2015-09-17 05:48] #33 closed

[2015-09-17 05:49] Kateliuxue opened #45 "Video broke down on Redmi's default browser"
When tested on Redmi, legco video works well on Chrome, but doesn't on Redmi's default browser.

[2015-09-17 05:53] frankinit opened #46 "Alignment Problem of "Recent Blogs", "See more blogs", and "email address""
![screenshot 2015-09-17 at 13 50 54](https://cloud.githubusercontent.com/assets/13608119/9925917/425f7a7a-5d43-11e5-9c73-a6604200f849.png)

Left edges not aligned.

[2015-09-17 05:53] yyfjmb commented on #46
fixed @frankinit

[2015-09-17 05:53] #46 closed

[2015-09-17 05:58] andyshuxin commented on #44
@frankinit Updated the markup. Can you confirm the status of the issue?

[2015-09-17 05:59] Kateliuxue commented on #39
The alignment works well with chrome on my computer (windows 8.1 chrome), but not on Firefox browser.

[2015-09-17 05:59] frankinit opened #47 "Search Results Point to Wrong Address (home.initiumlab.com)"
![screenshot 2015-09-17 at 13 57 11](https://cloud.githubusercontent.com/assets/13608119/9926028/38445672-5d44-11e5-9907-8ee938ce4734.png)
![screenshot 2015-09-17 at 13 57 27](https://cloud.githubusercontent.com/assets/13608119/9926031/3d2b5c08-5d44-11e5-8d79-4f7a9bb12e2c.png)

Search results point to wrong address.

[2015-09-17 06:03] andyshuxin commented on #41
@frankinit
Hexo doesn't support tags with spaces very well. Path issues.
I do agree the colon doesn't look prominent in the tags and could be confusing.
I've changed colons to hyphens.

[2015-09-17 06:03] frankinit commented on #44
@andyshuxin looks good now, both on iOS 8 and iOS 9.

[2015-09-17 06:04] #44 closed

[2015-09-17 07:16] frankinit opened #48 "Navigation Buttons on Homepage are Larger than Those on Other Pages"
![screenshot 2015-09-17 at 15 13 40](https://cloud.githubusercontent.com/assets/13608119/9927184/f1f9cd4a-5d4e-11e5-946d-448a3c76d411.png)
When click these buttons on homepage and jump to another page, they suddenly became smaller.

[2015-09-17 07:16] andyshuxin commented on #38
@yyfjmb How about make the sidebar half-transparent? Would that make sense?

[2015-09-17 07:26] hupili opened #49 "Unsafe warning if visited via HTTPS"
<img width="777" alt="screen shot 2015-09-17 at 3 25 34 pm" src="https://cloud.githubusercontent.com/assets/1227160/9927325/65a452be-5d50-11e5-852d-85a8313453e2.png">

[2015-09-17 07:27] andyshuxin commented on #49
This is a GitHub issue right?

"Pages are served over HTTP, not HTTPS, so you shouldn't use them for sensitive transactions, like sending passwords or credit card numbers."

https://help.github.com/articles/what-are-github-pages/

[2015-09-17 07:31] andyshuxin commented on #47
@frankinit Should have been fixed. Please check.

[2015-09-17 07:31] hupili commented on #49
We have enabled [flexible TLS](https://www.cloudflare.com/ssl) on CloudFlare. Needs to check why this does not work.

[2015-09-17 07:32] hupili commented on #49
Enabled CloudFlare cloud for initiumlab.com . May come back to check later.

[2015-09-17 07:34] hupili commented on #49
Should be OK now. Batch signed certificates are available.

<img width="764" alt="screen shot 2015-09-17 at 3 33 16 pm" src="https://cloud.githubusercontent.com/assets/1227160/9927489/8537fda0-5d51-11e5-84fe-9eb589c1d765.png">

[2015-09-17 07:34] #49 closed

[2015-09-17 07:35] andyshuxin opened #50 "Add customised tracking with subscription emails"

[2015-09-17 07:36] andyshuxin opened #51 "Add wasted youth to homepage showcases"

[2015-09-17 07:39] hupili commented on #33
@yyfjmb as a convention, please leave pointers before closing issue. A sentence describing how the problem is fixed should be enough. If the fix is done with in the Git/GitHub eco-system, you can simply leave the commit number or link.

## Example 1

[code]

Fixed in https://github.com/initiumlab/initiumlab.com/commit/0ad79543ebc56010220b874f5b355a5d58e65cfe

## Example 2

[code]

Fixed in
0ad7954

[2015-09-17 07:40] hupili commented on #33
GitHub has good rendering of those notations. People can also jump to the relevant commit directly to check or learn how the problem gets fixed.

[2015-09-17 07:47] hupili opened #52 "Credit Logo Designers"
As per our convention, those who effectively contributed will be acknowledged, regardless whether their work can be seen in the final product or not.

* For code contributor, the GH link suffices
* For other contributors, good convention is to open a `CONTRIBUTOR` file and list them there

We can credit the logo designers once the result is out.

[2015-09-17 07:57] yyfjmb commented on #38
@andyshuxin tried but doesn't work
![image](https://cloud.githubusercontent.com/assets/7417451/9927879/a469eb4a-5d54-11e5-9877-aac31b671ccd.png)
texts are overlapped.

[2015-09-17 08:16] yyfjmb opened #53 "better hide topButton in mobile size"
![image](https://cloud.githubusercontent.com/assets/7417451/9928232/6e5564be-5d57-11e5-864f-87612f1cf8b7.png)

[2015-09-17 08:17] yyfjmb opened #54 "change label from block to inline block"
![image](https://cloud.githubusercontent.com/assets/7417451/9928252/871530d8-5d57-11e5-9a9c-fbb530bb7f5b.png)

[2015-09-17 09:10] andyshuxin opened #55 "Migrate homepage back into Hexo flow, having consistent header, footer, mobile styles, etc."

[2015-09-17 09:40] hupili opened #56 "Support longer project title"
![screen shot 2015-09-17 at 5 39 17 pm](https://cloud.githubusercontent.com/assets/1227160/9930010/18403002-5d63-11e5-92fd-985799aba3d0.png)

[2015-09-17 10:01] andyshuxin commented on #29
@hupili @yyfjmb I've added favicon to our website. Looks good.
![screen shot 2015-09-17 at 6 01 13 pm](https://cloud.githubusercontent.com/assets/233354/9930419/21de6b58-5d66-11e5-8335-d6797d2474d2.png)

[2015-09-17 10:04] Kateliuxue opened #57 "When hovering over the navigation buttons become distorted."
screenshot:
![h](https://cloud.githubusercontent.com/assets/14042060/9930442/4081c672-5d66-11e5-8542-987400a181d4.jpg)

The letter "H" is quite obvious.

[2015-09-17 10:08] #29 closed

[2015-09-17 10:56] hupili commented on #52
Since we have `humans.txt`, we can add `Contributor` section there for simplicity.

[2015-09-17 10:59] hupili commented on #57
@Kateliuxue , good convention is to add environment description, e.g. system, browser, etc.

[2015-09-17 11:21] Kateliuxue commented on #57
Windows 8.1  Chrome 43.0, Firefox, IE 11

[2015-09-17 11:30] andyshuxin opened #59 "Enable comment"

[2015-09-17 11:38] hupili commented on #50
Can remove MC and add a small tooltip like "Thanks for subscribing!" after clicking.

[2015-09-17 12:01] Kateliuxue opened #60 "Add simplified Chinese search"

[2015-09-17 14:06] andyshuxin commented on #60
More specifically, the issue to to add automatic simp-trad conversion to search keywords, so that when one searches a keyword in simplified Chinese, the articles with corresponding traditional Chinese will also be displayed, and vice versa.

[2015-09-17 16:03] hupili opened #61 "Add URL for lightbox (project highlights)"
Example: http://initiumlab.com/#legco

In this way, people can refer to specific project directly.

[2015-09-18 03:01] andyshuxin opened #62 "Disable mailchimp; after the user click the subscribe button, tell them that it worked"

[2015-09-18 03:03] yyfjmb commented on #53
fixed

[2015-09-18 03:03] #53 closed

[2015-09-18 03:03] yyfjmb commented on #54
fixed

[2015-09-18 03:03] #54 closed

[2015-09-18 03:07] #47 closed

[2015-09-18 03:09] frankinit opened #63 "Search Box Exceeding the Right the Right Edge of Page"
![screenshot 2015-09-18 at 11 06 33](https://cloud.githubusercontent.com/assets/13608119/9951174/805800a6-5df5-11e5-9e11-cb789e8a5fc9.png)

Search box exceeds right edge.

Chrome 45, OS X 10.10.5, Macbook Pro Retina.

[2015-09-18 03:28] andyshuxin commented on #63
@yyfjmb Please take a look

[2015-09-18 03:31] andyshuxin commented on #62
Fixed by https://github.com/initiumlab/initiumlab.com/commit/135bb62ddb6e35eab71af4e73b5c457117526d90

@hupili I've deployed to staging. Can take a look.
Also, I've tested a few email address ending in @example.com, which should be recorded by backend but to be removed.

[2015-09-18 03:43] hupili opened #64 "Tracking user actions"
e.g. lightbox is not tracked by GA by default.

TODO:

* [x] Track lightbox behaviour
* [x] Track RSS click
* [x] Track sidebar usage
* [x] Track search usage
* [x] Track TOC usage
* ...

We can determine which elements to add/ to remove based on this data.

[2015-09-18 04:17] hupili commented on #62
Nice. Close for now. We can optimise presentation later.

[2015-09-18 04:17] #62 closed

[2015-09-18 17:06] hupili opened #65 "Use smaller sized images for the portofolio thumbnails"
I mean smaller size in Bytes. When network is slow, we see loading effect of some images, e.g. the legco one.

[2015-09-19 02:58] andyshuxin commented on #52
Fixed with https://github.com/initiumlab/initiumlab.com/commit/083043a8d6edbcf8f5461c014d794cb53b7ed227
@hupili

[2015-09-19 14:23] #52 closed

[2015-09-20 17:07] hupili opened #66 "The RSS hover effect is not uniformly applied to both icon and text"
<img width="74" alt="screen shot 2015-09-21 at 12 39 16 am" src="https://cloud.githubusercontent.com/assets/1227160/9981906/16b8a8bc-5ffd-11e5-88d6-edcd916e1041.png">
<img width="66" alt="screen shot 2015-09-21 at 12 39 13 am" src="https://cloud.githubusercontent.com/assets/1227160/9981907/16c2f718-5ffd-11e5-930a-2e5a619d86a8.png">

[2015-09-21 03:09] andyshuxin opened #67 "Use yaml syntax for author and language markup"

[2015-09-21 04:19] andyshuxin opened #68 "Then the Logo is click, and image lightbox is shown, which could be unexpected."

[2015-09-21 09:46] andyshuxin commented on #37
Fixed with https://github.com/initiumlab/initiumlab.com/commit/82bbb56a9b967e1b21d16a2d141c698d66b546f6. Now the mobile adjustments are applied as expected. Details are to be polished.

[2015-09-21 10:02] andyshuxin commented on #39
@Kateliuxue @frankinit How about now? I've changed the algorithm to calculate height offset. You probably will see different spaces above the headings when you jump to them.

[2015-09-21 10:02] andyshuxin commented on #40
Top button is removed from homepage. The issue is therefore closed.

[2015-09-21 10:02] #40 closed

[2015-09-21 10:03] andyshuxin commented on #41
We shall use hyphen for future tags.

[2015-09-21 10:03] #41 closed

[2015-09-21 10:29] andyshuxin commented on #45
@Kateliuxue Can you check the status quo? A new approach is tried and upload onto staging server ( 192.168.1.6/initiumlab.com). The staging server is not accessible outside of our office, unless one channels it.

[2015-09-21 10:29] andyshuxin commented on #48
Fixed with the refactor https://github.com/initiumlab/initiumlab.com/commit/82bbb56a9b967e1b21d16a2d141c698d66b546f6

[2015-09-21 10:30] andyshuxin commented on #51
Done.

[2015-09-21 10:30] #51 closed

[2015-09-21 10:30] andyshuxin commented on #50
@hupili What is MC?

[2015-09-21 10:31] #50 closed

[2015-09-21 10:50] Kateliuxue commented on #39
All works well: on Windows 8.1,  Chrome 43.0, Firefox & IE 11.

[2015-09-21 10:56] andyshuxin commented on #66
The logo is removed for simplicity. @hupili

[2015-09-21 11:01] #66 closed

[2015-09-21 11:01] hupili commented on #50
MC == MailChimp.

[2015-09-21 11:06] andyshuxin opened #69 "Dual video deployment?"
@hupili
YouTube is blocked in Mainland China and I think we can't rely on it as the sole video source for our users.
How about keeping a copy on GitHub pages, serve it with <video>, and also maintain a YouTube channel to accumulate viewership? [The max size for GitHub is 1G](https://help.github.com/articles/what-is-my-disk-quota/) -- it'll take a while before reaching the limit.
For reference, the

[2015-09-21 11:09] hupili commented on #69
Maybe open a channel on Youku? We can point the user to different sources at Frontend.

[2015-09-21 11:13] andyshuxin commented on #69
@hupili Makes sense.

[2015-09-21 17:53] frankinit commented on #39
@andyshuxin good on ordinary case! When zoom out to 75% or smaller, the last subtitle still doesn't work, though I think few user would do that.
Chrome 45, OS X 10.10.5.

[2015-09-22 02:31] andyshuxin commented on #39
@frankinit That is because the offset is calculated in absolute px unit, which breaks when the base size changes. Let's leave this issue open and I'll work on a more comprehensive solution later.

[2015-09-22 02:51] yyfjmb commented on #65
fixed @hupili  commit@4b58fb0cbf4671ad0aef7bfb3fb145ddfb6ea63a

[2015-09-22 04:50] andyshuxin opened #70 "Favicon is missing in inner pages"

[2015-09-22 05:07] Kateliuxue opened #71 "Staging: Extra Scroll bar on windows."
![default](https://cloud.githubusercontent.com/assets/14042060/10011305/bc721c9c-612a-11e5-9024-4a7ebb79255c.jpg)

[2015-09-22 05:07] frankinit opened #72 "Staging: Video is Disabled on Home Page"
<img width="873" alt="screenshot 2015-09-22 at 13 02 11" src="https://cloud.githubusercontent.com/assets/13608119/10011303/ba48df14-612a-11e5-92bf-c6d1ed76b1c2.png">

This video doesn't work. Neither on Windows nor on Mac.

[2015-09-22 05:10] frankinit opened #73 "Staging: An Image Not Shown on Home Page"
<img width="784" alt="screenshot 2015-09-22 at 13 01 55" src="https://cloud.githubusercontent.com/assets/13608119/10011341/2ed7f252-612b-11e5-8de3-1ec6da1c49d3.png">
<img width="865" alt="screenshot 2015-09-22 at 13 01 59" src="https://cloud.githubusercontent.com/assets/13608119/10011344/375c7bfa-612b-11e5-8752-34721d6d0931.png">

OS X 10.10.5, Chrome 45.

[2015-09-22 05:12] Kateliuxue opened #74 "Staging: zoomed-in picture being placed in wrong place on windows."
![default](https://cloud.githubusercontent.com/assets/14042060/10011350/4f0205fe-612b-11e5-9963-e10b60c9f433.jpg)

windows 8.1  pix 1600×900   Chrome

[2015-09-22 05:13] frankinit opened #75 "Design: Space between Words Inconsistent, Sometimes Tooooo Large"
<img width="834" alt="screenshot 2015-09-22 at 13 01 29" src="https://cloud.githubusercontent.com/assets/13608119/10011358/7917133e-612b-11e5-801f-44d1daf8422c.png">
<img width="840" alt="screenshot 2015-09-22 at 13 01 17" src="https://cloud.githubusercontent.com/assets/13608119/10011359/7fd9bb18-612b-11e5-8203-2a1ef39d31ad.png">

[2015-09-22 05:19] frankinit opened #76 "Staging: Top Button on Home Page Does Not Lead to Exactly Top Place"

[2015-09-22 05:21] andyshuxin opened #77 "poster attribute of <video> is not processed by relativeRoot"
This is temporarily fixed by manually injecting
[code]
into line 30 of  ```node_modules/grunt-relative/root/tasks/relative_root.js```.

[2015-09-22 05:22] andyshuxin commented on #73
@frankinit This is path-dependent. Can you provide the URL?

[2015-09-22 05:24] andyshuxin commented on #72
@frankinit Can you confirm whether it doesn't πlay altogether, or just the poster image is missing?

[2015-09-22 05:25] frankinit opened #78 "Staging: Email Subscribe Button Does Not Lead to a Confirm Message but a New Page"
<img width="460" alt="screenshot 2015-09-22 at 13 22 14" src="https://cloud.githubusercontent.com/assets/13608119/10011476/420c596a-612d-11e5-9f70-fe43896e050c.png">

Confusing behaviour.

[2015-09-22 05:29] frankinit commented on #73
@andyshuxin It does not recurrent now.

[2015-09-22 05:31] frankinit opened #79 "Staging: Email Subscribing Not Working"
10 Minutes ago I filled in my Gmail address and press Subscribe button. I am supposed to receive something, right?

Both on OS X 10.10.5 and Windows 8.1.

[2015-09-22 05:38] frankinit opened #80 "Staging: Built-in Search Engine Cannot Reach the Latest Blog Post about Jackathon"
<img width="688" alt="screenshot 2015-09-22 at 13 35 12" src="https://cloud.githubusercontent.com/assets/13608119/10011567/f3cef1ca-612e-11e5-9239-51d27c116535.png">
Searched for "book" and "jackathon" but no result.
It seems the latest post hasn't been indexed by the built-in search engine?

[2015-09-22 05:40] andyshuxin commented on #80
@frankinit That is expected. The new post is published only to the staging server, which is not accessible to the external search engine we currently use.

[2015-09-22 05:41] frankinit commented on #80
cool. I close this issue.

[2015-09-22 05:41] #80 closed

[2015-09-22 05:41] andyshuxin commented on #79
@frankinit Did you see the success message?
Anyways, we haven't written the backend email processing, so actually it's expected that you receive nothing.
But you can confirm with Pili (who has access to our backend server) if your email is logged.

[2015-09-22 05:43] frankinit commented on #79
@andyshuxin  I didn't see success messages - this is another issue I posted before: https://github.com/initiumlab/initiumlab.com/issues/78 .

[2015-09-22 05:45] hupili commented on #77
@andyshuxin needs to maintain our own "hacked" repo and ask npm to refer to that repo. So it also works on other member's env.

[2015-09-22 05:49] frankinit opened #81 "Staging: Hit Area of the Logo on Homepage is Too Large"
<img width="840" alt="screenshot 2015-09-22 at 13 39 59" src="https://cloud.githubusercontent.com/assets/13608119/10011671/616a7f28-6130-11e5-8e1e-b45a4aaa53b2.png">
When I click blank area <b>around</b> this logo, an image view pops out.

Besides, shall we disable this pop-out behaviour? I think this logo is not supposed to be clickable.

Reference: https://github.com/initiumlab/initiumlab.com/is

[2015-09-22 05:53] andyshuxin commented on #73
@frankinit I think I fixed it around the same time you were doing the test

[2015-09-22 05:54] andyshuxin commented on #65
@yyfjmb As a side note, are you aware of the ```srcset``` attribute of ```<img>```?
You can actually contain multiple ```src``` attributes for different viewport sizes.
<http://www.html5rocks.com/en/mobile/high-dpi/#toc-srcset>

[2015-09-22 06:00] yyfjmb opened #82 "Mysterious characters in homepage article part"
![image](https://cloud.githubusercontent.com/assets/7417451/10011771/25e5fc5a-6132-11e5-84cf-d71806c67bbf.png)

Chrome 45 imac OSX 10.10
not a problem in firefox browser

[2015-09-22 06:54] Kateliuxue opened #83 "Staging: zoomed-in pic goes out of the phone screen, which needs manual adjustment."
![img_1083](https://cloud.githubusercontent.com/assets/14042060/10012345/c55c7906-6139-11e5-8e99-4b509c3b333b.PNG)
 iphone 5s  ios 8.1

[2015-09-22 08:55] andyshuxin commented on #81
I noticed this as well. Indeed, the logo should not be enlarged as regular images.
I couldn't find a way to remove the effect and will work on this.

[2015-09-22 08:57] frankinit commented on #72
@andyshuxin It is fine now. When I posted this issue, the Play Button of the video is disabled.

[2015-09-22 08:58] andyshuxin commented on #78
Fixed with https://github.com/initiumlab/hexo-theme-next/commit/b8afe3f4730d40cceb16c3a201951ecbe44f04ef.

[2015-09-22 08:58] andyshuxin commented on #72
@frankinit If it's OK, please close the issue.

[2015-09-22 08:59] andyshuxin commented on #73
@frankinit Please close the issue if it works now.

[2015-09-22 09:01] frankinit commented on #78
Thanks. Fix confirmed.

[2015-09-22 09:01] #78 closed

[2015-09-22 09:03] frankinit commented on #72
Fix confirmed.

[2015-09-22 09:03] #72 closed

[2015-09-22 09:16] frankinit opened #84 "Staging: Texts Exceed Button Range on Mobile Phone"
<img src="https://cloud.githubusercontent.com/assets/13608119/10014678/892f94d6-614d-11e5-9aa0-7faf41c3e27f.PNG" height = "600">

[2015-09-22 09:23] frankinit opened #85 "Staging: Pop-up Box on Home Page Not Responsive on Small Screen and Mobile Phone"
Img 1: good on regular desktop size.
Img 2: only shows a part on small screen size or mobile phone.
![screenshot 2015-09-22 at 17 19 11](https://cloud.githubusercontent.com/assets/13608119/10014752/118d606a-614e-11e5-9837-cbfd0c1b86dd.png)
![screenshot 2015-09-22 at 17 19 27](https://cloud.githubusercontent.com/assets/13608119/10014784/490193c2-614e-11e5-84f3-0948bc2ca18c.png)

[2015-09-22 10:44] frankinit opened #86 "Staging: Buttons "Home", "About", "Blog" Not Shown on Mobile Phone by Default"
I guess it is better to show the three navigation buttons by default, right?

Image 1: By default
Image 2: After click "Menu" Button
![screenshot 2015-09-22 at 18 41 11](https://cloud.githubusercontent.com/assets/13608119/10016438/8fe85ee6-6159-11e5-8626-1bc2851c5d69.png)
![screenshot 2015-09-22 at 18 41 18](https://cloud.githubusercontent.com/assets/13608119/10016436/8fdb2abe-6159-11e5-93cc-14d50

[2015-09-23 04:55] frankinit commented on #45
Update: now this issue is fixed on the online version, but exists on the staging version. @andyshuxin @Kateliuxue

[2015-09-23 08:26] hupili opened #88 "Video block not responsive on wechat browser"
http://initiumlab.com/blog/20150922-jackathon3-review/

Screenshots followed

![850636533_1996008207849915024](https://cloud.githubusercontent.com/assets/1227160/10040616/c4981b66-620f-11e5-86b7-f7425b53b6cb.jpg)

![850636071_1360441690225777090](https://cloud.githubusercontent.com/assets/1227160/10040620/caa06cd4-620f-11e5-99e2-f1d5c6af0fda.jpg)

![850632060_622190227522708053](https://cloud.gith

[2015-09-23 10:14] andyshuxin commented on #61
fixed with https://github.com/initiumlab/hexo-theme-next/commit/7a0b0d025f98f43c1c1dd7532ac2b0156702cf21

[2015-09-23 10:33] andyshuxin commented on #85
Fixed with https://github.com/initiumlab/hexo-theme-next/commit/43c371567a979d359ff30c4a5e53400e9d2475b6

[2015-09-23 10:36] andyshuxin commented on #84
Fixed

[2015-09-23 11:26] andyshuxin commented on #68
Fixed with https://github.com/initiumlab/hexo-theme-next/commit/1f9a0e2dfe65bc74904ad13e1400f9171763fbc0

[2015-09-23 11:26] #68 closed

[2015-09-23 11:27] andyshuxin commented on #81
Fixed with https://github.com/initiumlab/hexo-theme-next/commit/1f9a0e2dfe65bc74904ad13e1400f9171763fbc0. The whole lightbox effect is disabled for Lab logo.

[2015-09-23 11:28] andyshuxin commented on #88
Fixed with https://github.com/initiumlab/hexo-theme-next/commit/1c7c871d3afc8683980d55f3a9da90b36bdc76fc

[2015-09-23 11:50] andyshuxin commented on #83
@Kateliuxue Can't reproduce the problem on my devices? Can you still see this problem on yours?

[2015-09-23 11:51] andyshuxin commented on #76
Fixed with https://github.com/initiumlab/hexo-theme-next/commit/9b7f23c70a54207b613c7ccba71ca16a79d7e209

[2015-09-23 12:33] andyshuxin commented on #70
Fixed.

[2015-09-23 12:33] #70 closed

[2015-09-23 12:53] #88 closed

[2015-09-23 12:53] #85 closed

[2015-09-23 12:53] #84 closed

[2015-09-23 12:53] #81 closed

[2015-09-23 12:53] #79 closed

[2015-09-23 12:53] #76 closed

[2015-09-23 12:54] andyshuxin commented on #55
Done.

[2015-09-23 12:54] #55 closed

[2015-09-23 12:54] #37 closed

[2015-09-23 12:57] andyshuxin commented on #83
This is iOS8-specific problem.

[2015-09-23 12:57] #73 closed

[2015-09-23 13:03] hupili commented on #75
`word-break: break-all;` can fix this.

<img width="859" alt="screen shot 2015-09-23 at 9 01 44 pm" src="https://cloud.githubusercontent.com/assets/1227160/10045574/4ff8c0cc-6236-11e5-83c2-ede014c6414e.png">

Need @andyshuxin  to insert to the right place.

Also @frankinit  may want to check other posts after this fix. In my impression, there seems to be some other caveats, say with Chinese.

[2015-09-23 13:16] #65 closed

[2015-09-23 13:16] hupili opened #89 "Use sticky footer when content is short"
<img width="701" alt="screen shot 2015-09-23 at 9 16 13 pm" src="https://cloud.githubusercontent.com/assets/1227160/10045879/56804f76-6238-11e5-9544-b1a476194e54.png">

The footer can be fixed at the page bottom in the above case.

[2015-09-23 13:17] andyshuxin commented on #77
Done. Every developer, please ```git pull``` on your root and ```npm install``` to update your packages.

[2015-09-23 13:18] #77 closed

[2015-09-23 13:19] hupili commented on #65
No wonder I can not visit the link, the commit link has error. Correct one followed:
https://github.com/initiumlab/initiumlab.com/commit/4b58fb0cbf4671ad0aef7bfb3fb145ddfb6ea63a

[2015-09-23 13:23] #61 closed

[2015-09-23 13:24] andyshuxin commented on #38
The current solution is to use a narrow sidebar.

[2015-09-23 13:25] hupili commented on #57
@yyfjmb  where can we find SVGs for those icons?

[2015-09-23 13:28] hupili commented on #1
Not so important. Let's focus on building content for now and freely mix English or Chinese. Mark resolved.

[2015-09-23 13:28] andyshuxin commented on #75
`word-break: break-all` makes the words breaking up without hyphens, which is difficult to read.
As a work-around, I attached the anchors onto the text, to avoid long-and-unbreakable links.

![screen shot 2015-09-23 at 9 28 11 pm](https://cloud.githubusercontent.com/assets/233354/10046232/05df34fe-623a-11e5-87bd-b9276acc35df.png)

[2015-09-23 13:28] hupili opened #90 "Generate RSS Feed according to tags (language/ category)"

[2015-09-23 13:29] hupili opened #91 "Social sharing functionality"
* FB, Twitter, Weibo...
* WeChat (QR Code)

[2015-09-23 13:30] hupili commented on #1
currently partially solved by tag. Skip

[2015-09-23 13:30] hupili commented on #1
Not so important for now.

[2015-09-23 13:31] #1 closed

[2015-09-23 13:33] hupili commented on #4
Note, we use [marked](https://github.com/chjj/marked) which implements [GFM](https://help.github.com/articles/github-flavored-markdown/)

[2015-09-23 13:35] hupili commented on #4
The above function should all be supported.

[2015-09-23 13:35] #4 closed

[2015-09-23 13:39] hupili commented on #22
@Kateliuxue  what is the current status of puting in the handbook?

[2015-09-23 13:46] #28 closed

[2015-09-23 13:54] hupili commented on #34
After checking with and without the `id=aboutpage` markup, I did not see much difference(only URL becomes blue?). If so, I weight standard over insignificant visual difference. This is also better for maintenance (occam's razor).

@andyshuxin @yyfjmb

[2015-09-23 13:55] hupili commented on #34
without:

<img width="739" alt="screen shot 2015-09-23 at 9 54 59 pm" src="https://cloud.githubusercontent.com/assets/1227160/10046866/d2c67cb8-623d-11e5-87ca-53a67934535b.png">

[2015-09-23 13:55] hupili commented on #34
with:

<img width="752" alt="screen shot 2015-09-23 at 9 55 13 pm" src="https://cloud.githubusercontent.com/assets/1227160/10046873/dc642bc6-623d-11e5-91f5-be90e40a7393.png">

[2015-09-23 13:56] hupili commented on #34
I think the stylisation of those links should go into the "next theme".

[2015-09-23 13:57] #36 closed

[2015-09-23 14:26] hupili commented on #20
Use `grunt scan:alt` to auto scan the alt.

[2015-09-23 14:31] hupili commented on #20
Those frequent images should be in template. Pass token to @andyshuxin

[code]

[2015-09-23 15:13] andyshuxin commented on #69
Upload video to Youku and added a link to Jacakthon 3.

[2015-09-23 15:23] andyshuxin commented on #67
Added language markup. Not really useful at the moment.

[2015-09-24 02:22] hupili commented on #67
We can also:

* Add `thumbnail` field in the YAML header
* Render a `hidden` thumbnail image at the beginning of the doc via template. --- better rendering at WeChat sharing
* Render an `og` tag for this thumbnail image. --- better for rendering for FB and many supported sites.

[2015-09-24 02:54] Kateliuxue opened #92 ""Jackathon #3” video moves aside in Firefox browser."
Both in "Home" and "Blog" page.

[2015-09-24 02:56] Kateliuxue opened #93 "Cannot play videos in Firefox browser."

[2015-09-24 02:58] frankinit commented on #93
@Kateliuxue Would you please specify your operation system? Browsers work differently on Windows and OS X.

[2015-09-24 02:59] Kateliuxue commented on #93
Windows 8.1, Firefox 40.0.3

[2015-09-24 03:16] Kateliuxue opened #94 ""Top" button doesn't work in lightbox page."
Windows 8.1   Chrome 43.0/Firefox 40.0

[2015-09-24 04:45] andyshuxin commented on #92
Fixed with https://github.com/initiumlab/hexo-theme-next/commit/f4b410f19241a0dd65b8f5f640cac5bdea1967d1

[2015-09-24 05:18] andyshuxin commented on #93
Fixed with https://github.com/initiumlab/hexo-theme-next/commit/e15b581683eb1582b9091ff3ff7f1e94ff21f2b3. Please check. Thanks.

[2015-09-24 05:24] andyshuxin commented on #92
Reference QA on Stack Overflow:
http://stackoverflow.com/questions/28353352/click-handler-on-video-conflicts-with-firefoxs-native-behaviour/

[2015-09-24 05:28] Kateliuxue commented on #93
It works. Thanks.

[2015-09-24 05:45] andyshuxin commented on #93
@Kateliuxue If it is confirmed to be solved, please close the issue. Thanks.

[2015-09-24 05:48] #93 closed

[2015-09-24 07:17] frankinit commented on #83
On iOS 9, Safari auto adjusts the width, but it causes a flash.

[2015-09-24 07:47] andyshuxin commented on #94
Fixed with https://github.com/initiumlab/hexo-theme-next/commit/5c8fde14e7229a6ab50dd9ceea2007c2aa3d5dab
Please check the staging version. If it's OK, I'll push it to the production server and you could close the issue. Thanks.

[2015-09-24 07:48] andyshuxin commented on #92
@Kateliuxue Please confirm solution. If it's OK, please close the issue.

[2015-09-24 07:49] #94 closed

[2015-09-24 08:52] andyshuxin commented on #83
@frankinit @Kateliuxue
Fixed with https://github.com/initiumlab/hexo-theme-next/commit/d49c653b481054317e7763242b2c4747d55824c2.

[2015-09-24 09:40] Kateliuxue commented on #83
But the zoomed-in picture becomes even much smaller.

[2015-09-24 09:40] andyshuxin commented on #45
@frankinit @Kateliuxue
Seems fixed along the way. Not entirely sure which commit fixed this.

[2015-09-24 09:42] andyshuxin commented on #63
Fixed with https://github.com/initiumlab/hexo-theme-next/commit/fbc89004ad34601e69f29c65b2f074e9cf92af64

[2015-09-24 09:43] andyshuxin commented on #82
@yyfjmb Does this problem still exist? When you got time, please call me -- I need to examine the details on your computer. Thanks.

[2015-09-24 09:44] andyshuxin commented on #74
@Kateliuxue Does this problem still exist? When you have time, please summon me to inspect the settings your computer. Thanks

[2015-09-24 09:45] andyshuxin commented on #59
Enabled with https://github.com/initiumlab/initiumlab.com/commit/894e9b1969d2f43dc476a3ed5b4609c9e412d1a4
Need testing. @Kateliuxue @frankinit

[2015-09-24 09:47] andyshuxin commented on #83
@Kateliuxue Indeed. Probably should disable lightbox altogether on smaller screens. Please close this issue (which is solved) and open another issue, labelled `enhancement`, about that idea.
cc @yyfjmb @hupili

[2015-09-24 09:49] Kateliuxue commented on #74
It looks fine now. Shall we close this issue?

[2015-09-24 09:49] andyshuxin commented on #43
All comments processed with editing. No formal citation format is decided upon.

[2015-09-24 09:49] #43 closed

[2015-09-24 09:50] #92 closed

[2015-09-24 09:52] #83 closed

[2015-09-24 09:53] Kateliuxue opened #95 "Disable lightbox altogether on smaller screens?"
@hupili  @andyshuxin  @yyfjmb

[2015-09-24 09:54] #74 closed

[2015-09-24 09:58] #45 closed

[2015-09-24 10:03] andyshuxin commented on #34
I agree. I removed styles specific to the about page.
@yyfjmb You can now style all links with `themes/source/css/_custom/custom.styl`. I've added special rules for the home page so that they'll remain without underlines.

[2015-09-24 10:06] andyshuxin commented on #39
@frankinit Modified the title to reflect on the status quo.

[2015-09-24 10:29] frankinit commented on #59
Haven't deployed yet? I don't see comment box in staging and production site.

[2015-09-24 10:31] frankinit commented on #63
Fix confirmed.

[2015-09-24 10:31] #63 closed

[2015-09-24 10:43] andyshuxin commented on #64
Added customised event tracking for open and close of lightboxes, with https://github.com/initiumlab/hexo-theme-next/commit/2ff4279afdad86b1bd86dccfe67168073f1baa7a
Will need to check Google Analytics to ensure it actually works before added event tracking for other functionalities.

[2015-09-24 10:48] andyshuxin commented on #59
@frankinit Should work now. Thanks.

[2015-09-24 10:54] andyshuxin commented on #86
@yyfjmb What do you think?

[2015-09-24 10:57] andyshuxin commented on #69
We have set up YouTube and Youku accounts with the initiumlabeditor@gmail.com, to which we can upload videos. (Please ask Pili or me for sign-in details.)

At this moment, we have three video distribution channels
- gh-pages, displayed with <video>
- [YouTube](https://www.youtube.com/channel/UC6A8BFtKG3sRcExuOomA_tA)
- [Youku](http://i.youku.com/u/UMzIyNDgzODcwNA==)

[2015-09-24 10:59] andyshuxin commented on #74
@Kateliuxue I didn't specifically work on this issue. It might still pop up in the future. Let's deal with it then.

[2015-09-24 11:00] andyshuxin commented on #71
@Kateliuxue Can you list the browser? Also, do all browsers have such behaviour, or just one? (I'm guessing IE)

[2015-09-24 11:01] andyshuxin commented on #56
@yyfjmb Any plan to enlarge the showcase to accommodate such needs?

[2015-09-24 11:02] Kateliuxue commented on #71
All browsers on Windows 8.1, including Chrome, Firefox & IE.

On Thu, Sep 24, 2015 at 7:00 PM, Andy Shu Xin <notifications@github.com>
wrote:

[2015-09-24 11:05] andyshuxin commented on #20
Another useful command is
[code]
This command will return images with no `alt` attribute.

[2015-09-24 11:06] andyshuxin commented on #20
This issue is closed thanks to the command-line tool from @hupili.

[2015-09-24 11:06] #20 closed

[2015-09-25 09:37] frankinit commented on #59
@andyshuxin
Looks good!
Problem:
<b> Blog Links in The Side Bar Points to Wrong URL "home.initiumlab.com/xxxx" </b>
![screenshot 2015-09-25 at 17 33 02](https://cloud.githubusercontent.com/assets/13608119/10097483/fcbc1b26-63ab-11e5-9981-a0c74f346a41.png)

[2015-09-25 10:16] andyshuxin opened #96 "Blog Links in The Side Bar Points to Wrong URL "home.initiumlab.com/xxxx""
@frankinit discovered this issue.
![fcbc1b26-63ab-11e5-9981-a0c74f346a41](https://cloud.githubusercontent.com/assets/233354/10098142/6b303678-63b1-11e5-8ed8-a35715e02533.png)
Related to https://github.com/initiumlab/initiumlab.com/issues/59

[2015-09-25 10:24] hupili opened #97 "Team gallery"
A design request, @yyfjmb

[2015-09-25 10:38] hupili opened #98 "New blocks in portofolio"
* [x] salary360. Please link to both wechat version http://salary360wechat.initiumlab.com/?from=initiumlab and facebook version salary360.initiumlab.com/?from=initiumlab   (note the `from` parameters)
* [x] Design collection of Initium Lab. Please pick some representative graphic designs from released articles and use one lightbox to collect image + article link pairs.

[2015-09-25 13:47] andyshuxin commented on #98
@yyfjmb Feel free to summon me for help

[2015-09-26 02:08] andyshuxin commented on #69
We have established channels on YouTube and Youku. Additionally, when the video is small, we put it in the repo itself.
This issue is considered closed.

[2015-09-26 02:08] #69 closed

[2015-09-29 09:23] andyshuxin opened #100 "By default, the website should only show English posts"

[2015-09-29 09:27] andyshuxin opened #101 "Show Logo on each page"

[2015-09-29 10:10] yyfjmb commented on #75
@me word-breaking research.

[2015-09-29 10:24] andyshuxin commented on #86
1. Remove the hamburger button;
2. The menu bar shows by default.

[2015-09-29 10:34] andyshuxin commented on #71
We're not going to deal with this issue for the moment.

[2015-09-29 10:34] #71 closed

[2015-09-29 10:41] andyshuxin commented on #56
Editors should use short headings for the moment.

[2015-09-29 10:43] andyshuxin opened #102 "Disqus lose margin in narrow screens"

[2015-09-29 10:50] andyshuxin opened #103 "TOC destination position won't work on window resize"

[2015-09-29 10:54] andyshuxin commented on #34
Solution: don't style a markdown specifically. If needed, use HTML + CSS.

[2015-09-29 10:54] #34 closed

[2015-09-29 10:55] hupili commented on #34
I once used `<link css` to style one markdown. Not recommended.

[2015-09-29 11:01] hupili commented on #97
* RedStar
* CAL sharing
* Case sharing (with Andy's friend)
* Hiking
* Workshops

[2015-09-29 13:37] andyshuxin opened #104 "Automatic lightbox detection and configuration"

[2015-09-30 04:11] andyshuxin commented on #96
Fixed with https://github.com/initiumlab/initiumlab.com/commit/63b09d533e9f986614914c94b91379de1070ecb5
@frankinit Please check.

[2015-09-30 04:54] andyshuxin commented on #102
Fixed with https://github.com/initiumlab/hexo-theme-next/commit/47c7372530af928c2610a1a02e7f3cec19521e7b

[2015-09-30 05:58] andyshuxin commented on #91
Added by https://github.com/initiumlab/hexo-theme-next/commit/81bbbbe4393796c9c1ec5e34068883809ed46d9e and https://github.com/initiumlab/hexo-theme-next/commit/b4ec2372af26d339961f8ed3e17646175e64a409 .

@frankinit Need testing on this. Some of them won't work on localhost or staging server due to URL issues.

[2015-09-30 07:06] frankinit commented on #91
@Kateliuxue Would you please test this? Thanks.

[2015-09-30 07:08] frankinit commented on #96
Fix confirmed. Thanks.

[2015-09-30 07:08] #96 closed

[2015-09-30 07:48] andyshuxin opened #107 "og:url is wrong"
For example, the React in One Hour post has `og:url` of `http://initiumlab.com/blog/blog/20150925-react-in-1-hour-cuhk/index.html` (notice the double `blog`).

Reference discussion:
https://github.com/hexojs/hexo/issues/942

[2015-09-30 07:56] andyshuxin commented on #107
Fixed with https://github.com/initiumlab/hexo-theme-next/commit/45951c37fc1d45177e6b53a59bc5f1b807108429

[2015-09-30 08:04] andyshuxin commented on #67
@hupili What's the issue with the current Facebook thumbnail?

[2015-09-30 09:48] andyshuxin commented on #67
@hupili Customized `og:image` is implemented by modifying hexo plugin codes.
The outcome is http://192.168.1.6/initiumlab.com/blog/20150901-data-journalism-for-the-blind/
It has customized `og:image`, being
[code]
specified by YAML of
[code]

I'm asking Hexo people if this can be done in more clever ways:
https://github.com/hexojs/hexo/issues/1525

[2015-09-30 09:59] andyshuxin commented on #91
@frankinit @Kateliuxue
Most social sharing only work on the main site due to URL issues. Can we perform a regression test on the staging version and deploy to production server, so that they can be tested?
Thanks.

[2015-10-02 03:26] yyfjmb commented on #98
done commit@24b77d8

[2015-10-02 03:28] yyfjmb commented on #98
done @hupili  commit@24b77d8ae6ca1310a77712ff4c061381d0fd7748
pull request #106

[2015-10-02 03:29] yyfjmb opened #108 "new blog upload of google sheets explorer"

[2015-10-02 03:31] yyfjmb commented on #108
done @hupili
pull request #106

[2015-10-02 09:12] Kateliuxue opened #109 "Label box with long word shows inconsistently with short word on iphone5s"
![img_1185](https://cloud.githubusercontent.com/assets/14042060/10243033/44836d34-6928-11e5-8d61-903eb100253b.PNG)

[2015-10-02 09:14] Kateliuxue commented on #109
Font is different on iphone 5s.

[2015-10-02 09:43] andyshuxin opened #110 "Try `display:none` with thumbnails"

[2015-10-02 10:06] andyshuxin opened #111 "On production server, the two new showcases doesn't work"
When clicked, they refresh the page, rather than opening a lightbox.
Probably cache-related. We shall wait and see.

[2015-10-02 10:08] andyshuxin commented on #109
@yyfjmb Could you fix this?

[2015-10-02 10:09] Kateliuxue commented on #91
@andyshuxin
Sharing function works well, but there are some bugs when sharing.
Both on window 8.1 Chrome & Mac ios.

![default](https://cloud.githubusercontent.com/assets/14042060/10244118/c5db08ea-692f-11e5-8a4a-106c190b4cb4.jpg)

Words go out of the box line.
![default](https://cloud.githubusercontent.com/assets/14042060/10244122/d0824e8e-692f-11e5-9701-e912754ac6d2.jpg)

wordings without spacin

[2015-10-02 10:15] hupili commented on #67
Need to add another field, `description` or `excerpt`. Render the text into a special non-display block. In the Weixin API, we can point the description to its inner text. In this way, the shared articles look better.

![850636862_794530742592000518](https://cloud.githubusercontent.com/assets/1227160/10244399/87dc547a-6931-11e5-9fae-0c228d0393a0.jpg)

[2015-10-02 10:19] #107 closed

[2015-10-02 10:20] #102 closed

[2015-10-02 10:47] andyshuxin opened #112 "Build our own social sharing components"
Let's build our own social sharing component.
- [ ] Facebook
- [ ] Twitter
- [ ] Sina Weibo
- [ ] WeChat

[2015-10-02 10:52] andyshuxin commented on #91
These problem are embeded in JiaThing, the social plugin service we use, and are difficult to handle without hacking their JavaScript code.

We shall build our own social sharing components to solve these problems once and for all.
Related issue:https://github.com/initiumlab/initiumlab.com/issues/112

This issue is closed and future discussion could move to #112 .

[2015-10-02 10:52] #91 closed

[2015-10-02 10:54] andyshuxin opened #113 "Adapt for Excerpt Extraction from WeChat"

[2015-10-02 10:54] andyshuxin commented on #67
@hupili Description field is supported and reflects in the `description` field of HTML. I open another issue specifically for the WeChat excerpt issue: #113

[2015-10-02 10:55] #67 closed

[2015-10-03 03:43] andyshuxin commented on #111
The problem disappeared without further intervention in around 10 minutes, conforming with the hypothesis of cache problem.

[2015-10-03 03:43] #111 closed

[2015-10-03 03:47] #59 closed

[2015-10-03 08:15] hupili commented on #64
Need to review the effect next week and make sure GA tracking is working. After that, we can also create segmented experiments using GA. This saves a lot backend maintenance work.

[2015-10-06 04:16] #108 closed

[2015-10-16 05:41] hupili opened #116 "Build command"
@andyshuxin  how about changing:

* `grunt build:complete` --> `grunt build`
* `grunt build` --> `grunt build:quick`

Our usual flow for other projects are `grunt build` + `grunt deploy:{target}`. The new notation is easier to remember.

[2015-10-16 05:58] hupili opened #117 "Hexo expects <more> delimiter to generate the excerpt for blog list"
Current situation:

* http://initiumlab.com : this list will use the meta info, i.e. `description`, we put on YAML header
* http://initiumlab.com/blog/    : seems this one only uses `<more>` delimiter  (if there is no this delimiter, the excerpt is empty).

[2015-10-16 06:00] hupili commented on #117
@andyshuxin if this is expected behaviour, we need to add the caveat reminder into our workflow

[2015-10-16 06:00] hupili commented on #117
Reference issue: https://github.com/initiumlab/initiumlab.com/pull/115

[2015-10-16 06:13] hupili opened #118 "Use list for authors in YAML header"
* Current: `author: Andy Shu, Chao Tianyi`
* Better:

[code]

This is easier for later stats & analysis.

Even better: (more attractive for community authors)

[code]

Ref PR:
https://github.com/initiumlab/initiumlab.com/pull/115/files

[2015-10-16 07:06] andyshuxin commented on #116
@hupili Agree.

[2015-10-16 07:14] andyshuxin commented on #116
Fixed with https://github.com/initiumlab/initiumlab.com/commit/26f07360006926496dbe5680831df26c8f3b727f

Now, the default behaviour of `grunt build` is perform a complete build. `grunt build:quick` makes a quick build. `grunt build:complete` is now just an alias to `grunt build`, which also makes a complete build.

[2015-10-16 07:18] andyshuxin commented on #117
@hupili What excerpt are your referring to? WeChat?

[2015-10-16 08:31] hupili commented on #117
I mean the excerpted text under title. Say

The text on homepage: (from `description`)

The text on blog list: (from `<more>` tag; if there no `<more>` tag, this paragraph will not exist)

[2015-10-16 09:40] andyshuxin commented on #117
@hupili Oh yes, this is the intended behaviour. It used to be same (both displaying `description`). But it doesn't look good as the blog list would be identical to the front page.
I'll mention it in README.

[2015-10-16 10:06] hupili commented on #117
Noted. We also need to add a note to the workflow, i.e.

[2015-10-16 12:10] andyshuxin commented on #117
@hupili Expand the grunt scan perhaps?

[2015-10-16 12:14] hupili commented on #117
:+1: That should work

[2015-10-18 05:42] hupili opened #119 "Portofolio block management"
Currently the portofolio block on home page is managed in the customised next-theme. It is better to put all the content in this repo so that it is separated from the style.

[2015-10-20 05:40] andyshuxin opened #120 "Email subscription notice"
At least send recent Jackathon notices?

[2015-10-20 10:19] #48 closed

[2015-10-20 10:19] #38 closed

[2015-10-20 10:19] #116 closed

[2015-10-20 10:24] andyshuxin commented on #113
I've tried the `WeixinJSBridge` and it doesn't work any more.

The current WeChat SDK seems to require websites being registered with China government registry; otherwise, we can't have detailed control in sharing.

[2015-10-20 10:27] andyshuxin commented on #118
@hupili @yyfjmb Can implement easily; but need to talk about presentation. The current byline area is way to small for multiple authors and labels.

[2015-10-20 10:52] hupili commented on #118
I'm open to any sensible. Just want to make sure meta data is re-usable in the future.

[2015-10-21 06:01] andyshuxin commented on #117
Implemented with https://github.com/initiumlab/initiumlab.com/commit/73eefcd86ba92a8973455c688c641b36843d2900

Now can use `grunt scan:summaryTag` to check for ``

[2015-10-22 08:43] andyshuxin commented on #119
Implemented with https://github.com/initiumlab/hexo-theme-next/commit/64bf84e8ed2d6659e1e49e51611125752fdb1afc and contents are migrated with https://github.com/initiumlab/initiumlab.com/commit/bcf810227c629c969a72aa72dd58d4e5f9c9d839 and https://github.com/initiumlab/initiumlab.com/commit/8559e2eaa9da0539b14b660c4c87efe221977676

[2015-10-22 08:57] andyshuxin commented on #120
@hupili Need to export the current mail list

[2015-10-22 08:57] #98 closed

[2015-10-22 09:02] andyshuxin commented on #110
WeChat will not use image with `display:none` as thumbnails.

[2015-10-22 09:03] andyshuxin commented on #75
@andyshuxin Update workflow documentation.

[2015-10-22 09:05] andyshuxin commented on #75
@yyfjmb Reference CSS: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/

[2015-10-22 09:05] hupili commented on #97
@frankinit  try to deploy to staging and ask for review in the team.

[2015-10-22 09:10] andyshuxin commented on #110
@andyshuxin Try left: -999px top: -999px

[2015-10-22 09:16] andyshuxin commented on #95
The popup box for images are almost useless on smartphones

[2015-10-22 09:20] hupili commented on #57
@yyfjmb  @frankinit  need to get this issue onto staging

[2015-10-22 09:21] andyshuxin commented on #56
@andyshuxin Add warning to workflow

[2015-10-22 09:23] #26 closed

[2015-10-22 09:25] #3 closed

[2015-10-22 09:28] #2 closed

[2015-10-23 02:35] andyshuxin commented on #117
Workflow updated with https://github.com/initiumlab/initiumlab.com/commit/4a5b3cb8d61f26a950ef29c07d390c7f0c16e871

[2015-10-23 02:37] andyshuxin commented on #112
Implemented with https://github.com/initiumlab/hexo-theme-next/commit/4301da482e9dc29886fa8b2775308ba38cf7ce83
@yyfjmb You could switch to that branch and work on style

[2015-10-23 02:38] andyshuxin commented on #104
Implemented with https://github.com/initiumlab/hexo-theme-next/commit/3f12c495d14c27c06e826288f438ec1afd6d1466

[2015-10-23 02:53] andyshuxin commented on #86
Implemented with https://github.com/initiumlab/hexo-theme-next/commit/ee5aef5e87013564756ff72a186df6783a9aa561

[2015-10-23 03:01] andyshuxin opened #121 "Fix quote about "absence of evidence is not evidence of absence""
From a Bayesian point of view, it really is.

[2015-10-23 08:22] andyshuxin commented on #64
Implemented with https://github.com/initiumlab/hexo-theme-next/commit/49c8d1980aee96e97f54f79b38826f77fb3d840c, except search tracking.

The Swifttype search engine provide their own analytics.

[2015-10-25 02:52] andyshuxin commented on #121
Fixed with https://github.com/initiumlab/hexo-theme-next/commit/93b9bc300b7d1583f3b6b972302defaac429bfa7

[2015-10-25 07:45] Kateliuxue commented on #22
@andyshuxin  @hupili The VoiceOver on Mac won't read anything in lightbox.

[2015-10-25 16:16] yyfjmb commented on #97
@frankinit
commit@727abb7f7d87d7ea4236a8bd76adae457985993b
branch victoria-dev

[2015-10-25 18:06] yyfjmb commented on #101
commit @d0dde171c46addef89d8de21fcbb0d0eabbbb211  @fb6268ee10b6358461c0c4f216e981a4bbc85b73  @6c0a5d8af7d013133374da0f603e1150811bf026
branch victoria-dev
@frankinit

[2015-10-26 03:02] andyshuxin commented on #56
Added with https://github.com/initiumlab/initiumlab.com/commit/e7ff0f928a8fb1ebf6f4d4f30fb5207432f23ef4

[2015-10-26 03:03] yyfjmb commented on #82
fixed
@a935aa9f6a639ed01a1b0c7aaef56b696902ac83

[2015-10-26 03:03] #82 closed

[2015-10-26 03:25] yyfjmb commented on #57
fixed with
initiumlab/initiumlab.com@f10a8809b0deed1ffe0ab14c4a3aa0aa572d152d
initiumlab/hexo-theme-next@558e6e7b5f0f840f1101c5ef7721291130729934
initiumlab/hexo-theme-next @branch add_photo_gallery
initiumlab/initiumlab.com @branch master
@frankinit icons still get distorted when hovering over after I replacing png files with svg files. Need more tests.

[2015-10-26 03:34] andyshuxin commented on #110
Implemented the desired effect with a workaround, wrapping the image in a `<div>`, which is set to `display:none`
https://github.com/initiumlab/hexo-theme-next/commit/61d02909047a9b6cfcdfa94584ab91cbdfbf1ca4

[2015-10-26 04:20] yyfjmb commented on #109
fixed initiumlab/hexo-theme-next@ded31ed3c92e10cfb7843309a9459c4c72ac0af1

[2015-10-26 04:37] andyshuxin commented on #118
Implemented with
https://github.com/initiumlab/hexo-theme-next/commit/939db3821f4edf2f4026188b7b1110dbedbbc4c5
Content updated with
https://github.com/initiumlab/initiumlab.com/commit/a39a5f55b24233b24c29aa79a9febe6e234674b9

[2015-10-26 05:20] andyshuxin commented on #100
Implemented with https://github.com/initiumlab/hexo-theme-next/commit/d2da3b545249d741784e6846cc2e8a750af2d088
Content updated with https://github.com/initiumlab/initiumlab.com/commit/3d5a432b3c4d8740a6c704da4366c4c8076d24f9

[2015-10-26 05:46] andyshuxin commented on #89
Implemented with https://github.com/initiumlab/hexo-theme-next/commit/66d0f7bd5a58a83ac4b01dd2a21e0ffd03cf810a

[2015-10-26 11:51] Kateliuxue commented on #112
@andyshuxin The sharing button in lightbox do not work. Got no response when clicking on them.
windows 8.1, chrome

[2015-10-26 14:23] Kateliuxue commented on #121
@andyshuxin  So far so good. This issue can be closed.

[2015-10-26 14:26] Kateliuxue commented on #86
@andyshuxin Looks better now.

[2015-10-27 02:56] #121 closed

[2015-10-27 02:57] andyshuxin commented on #112
@Kateliuxue Should work now, except for Facebook due to URL issues. Please check.

[2015-10-27 03:14] Kateliuxue commented on #112
@andyshuxin Indeed. There's a small problem that when clicking on Wechat sharing button the QR Code appears beneath the screen making me think no response occurs.

[2015-10-27 08:09] andyshuxin commented on #95
Implemented with https://github.com/initiumlab/initiumlab.com/issues/103

[2015-10-27 08:36] andyshuxin commented on #103
@frankinit @Kateliuxue
This might fixed the problem:
https://github.com/initiumlab/hexo-theme-next/commit/18b7a346fe509e872a1562c272291ab165b0a116

I can't reliably re-produce this bug though...

[2015-10-27 09:06] andyshuxin commented on #39
"Zooming" can't be easily monitored:
http://stackoverflow.com/questions/1713771/how-to-detect-page-zoom-level-in-all-modern-browsers

In some browsers, zooming triggers "resize", which mean the fix for resize could potentially also solve this issue:
https://github.com/initiumlab/hexo-theme-next/commit/18b7a346fe509e872a1562c272291ab165b0a116

[2015-10-27 10:18] andyshuxin commented on #112
@yyfjmb Can you work on the styles of the button?

[2015-10-27 10:28] yyfjmb commented on #112
@andyshuxin Sure. I'm working on it.

[2015-10-27 11:25] yyfjmb commented on #112
@andyshuxin finished with https://github.com/initiumlab/hexo-theme-next/commit/b0818c5e5adf5ee5f0b64a5320fbb1b276fbaaa1

[2015-10-27 11:28] Kateliuxue opened #124 "In iphone, when slide in lightbox the page beneath will move together."
@yyfjmb This can affect operation in lightbox.
![photo_2015-10-27_19-18-13](https://cloud.githubusercontent.com/assets/14042060/10756691/b7859a66-7ce0-11e5-9049-4ab91f1b4d2b.jpg)

[2015-10-28 04:14] andyshuxin commented on #90
Working on this. Asking hexo developers for advice.

[2015-10-28 08:10] andyshuxin opened #125 "Test "special" page"

[2015-10-28 09:40] frankinit opened #126 "Make Photos Larger in Photo Gallery"

[2015-10-29 07:48] andyshuxin opened #128 "Staging server: Erroneous path due to timezone setting"
@hupili @frankinit @yyfjmb

The staging server's timezone is UTC. Hexo seems to assume use system timezone to interpret markdown source file time stampings.

I've create a branch called `timezone-test` to demonstrate a weird behaviour:

In `source/_posts`, there are two files,
`20151029-early.md` and
`20151029-late.md`
They have the same filename-timestamp of `20151029`, but their timestamp in the

[2015-11-02 04:02] andyshuxin commented on #128
@hupili @frankinit Would it make sense to set the staging server to UTC+8?

[2015-11-02 04:05] #119 closed

[2015-11-02 04:05] #117 closed

[2015-11-02 04:05] #104 closed

[2015-11-02 04:05] #86 closed

[2015-11-02 04:05] #64 closed

[2015-11-02 04:06] #118 closed

[2015-11-02 04:06] #100 closed

[2015-11-02 04:08] hupili commented on #128
Yes. Please set to `UTC+8`

[2015-11-02 05:40] andyshuxin commented on #128
@frankinit Can you set the timezone on the staging server to `UTC+8`?

[2015-11-02 07:41] andyshuxin opened #129 "Improve post boilerplates"
Need better defaults headers, such as `language`

[2015-11-03 08:01] #110 closed

[2015-11-03 08:01] #56 closed

[2015-11-03 08:01] #89 closed

[2015-11-03 08:01] #113 closed

[2015-11-04 14:11] andyshuxin commented on #128
I've set the timezone to UTC+8

[2015-11-04 14:11] #128 closed

[2015-11-05 01:46] hupili commented on #128
@andyshuxin can you outline the steps for @frankinit  future reference, thanks

[2015-11-05 02:14] andyshuxin commented on #128
@hupili @frankinit
It's rather straightforward. Just
[code]
Then you get a GUI to set timezone.

To check the current timezone, use
[code]

[2015-11-24 04:45] hupili opened #133 "Footer has problem when scrolled to the bottom"
<img width="1097" alt="screen shot 2015-11-24 at 12 42 43 pm" src="https://cloud.githubusercontent.com/assets/1227160/11358021/f8cb922c-92a8-11e5-9b7e-6be8afccc6fd.png">

[2015-11-24 05:39] hupili opened #134 "Solve the errors in console"
<img width="715" alt="screen shot 2015-11-24 at 1 38 56 pm" src="https://cloud.githubusercontent.com/assets/1227160/11358771/c46f25ae-92b0-11e5-998f-4f93aeedf8b9.png">

[2015-12-15 04:38] frankinit commented on #128
Thanks @andyshuxin. I applied this on CKAN server.